lms-progress {

  progress-bar { width: 100%; }

  .progress-outer {
    background-color: $lms-bg-inverse!important;
    padding: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;
    width: 100%!important;
    border-width: 2px!important;
  }
  .progress-inner { 
    color: transparent!important;
    min-width: 0%!important;
    transition: width 0.3s ease-out; 
  }

  .progress-outer, .progress-inner { 
    border-radius: 0!important;
    padding: 0px!important;
  }


  .progress-header {
    background: $lms-bg-inverse;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    > * {
      margin: 0;
    }
  }
}
