page-terms-conditions {

}

.terms-conditions-content {
    height: 100%; 
    background-color: #DCDDDE;
}

.terms-div {
    width: 100%;
}

.terms-paragraph {
    text-align: justify; 
    padding-right: 5%; 
    padding-left: 2.5%; 
    padding-top: 1%;
    font-size: 4.5vw
}