page-lite-contact {

    ion-content {
        background-color: #7ea441!important;

        #contact-content { 
            padding: 2%;
            color: #fff;
            line-height: 1.5;
            font-size: 4vw;
            font-weight: 100;

            h1 { font-weight: 800; font-size: 7vw; margin-bottom: 10vw; }
            input, textarea { width: 100%; color: #222; padding: 0.5rem;}
            button { background-color: #58595b }
        }
    }

}
